<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://play-lh.googleusercontent.com/cF_oWC9Io_I9smEBhjhUHkOO6vX5wMbZJgFpGny4MkMMtz25iIJEh2wASdbbEN7jseAx">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="/style/styleFortheme.css">
    <link rel="stylesheet" href="/style/styleForMain.css">
    <link rel="preload" href="wallpaper_cover.jpg" as='image'>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src='/socket.io/socket.io.js'></script>
    <script>
        const socket = io('http://localhost:5000')
    </script>
    <script src='/js/send_message.js' async></script>
    <script src='/js/receive_message.js' async></script>
    <script src='/js/typing_chat.js' async></script>
    <script src='/js/receive_typing.js' async></script>
    <script src='/js/user_leave.js' async></script>
    <script src='/js/select-theme-chat.js' async></script>
    <script src='/js/call_theme.js' async></script>
    <script src='/js/validation_user.js' async></script>
    <script src='/js/announce_empty.js' async></script>
    <title>Cookchat - Connect everytime everywhere</title>
    
</head>

<body>
    <%- include('intro/intro') %>
    <%- include('theme/theme') %>
    <div class='room'>
        <div class='topics'>
            <div class='own-name'>
                <p class='own-name-1'></p>
            </div>
            <div class='choose-topics'><i class="fas fa-palette"></i></div>
            <div class='leave-room'>
                <button class='btn-leave'>Leave</button>
            </div>
        </div>
        <div class='frame-chat'>

        </div>
        <div class='on-typing'>
            <p class='name-typing'></p>
            <div class='dynamic-mes'>

            </div>
        </div>
        <div class='send-message'>
            <input class='message-1' type="text" placeholder="Enter your message">
            <button disabled class='send-message-1'>Send</button>
        </div>
    </div>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init()
    </script>
</body>

</html>