<div class="wrapper" style="background-image: url(wallpaper_cover.jpg) ;">
    <div class='sub-wrapper'>
        <div class='intro'>
            <p class='intro-text'>
                Chat Online , Connect everyone to closer , spread love !
            </p>
        </div>
        <div class='name-chat'>
            <span class='name-user-v' style='font-size: 24px;'>Enter your name to join room online</span>
            <input class='user-name' type="text" style="padding: 6px 12px;border: none;border-radius: 7px;caret-color:#000;" placeholder="Enter here...">
        </div>
        <div class='create-username'>
            <button disabled class='btn-join'>Join</button>
        </div>
    </div>
</div>